# Common requirements
# -----------------------
# This file collects all required third-party applications that are needed
# to run this project. Later you can install all these apps in a row
# using pip. Example:
#
#     pip install -r requirements.txt
#
#   It's higly recomended to use it within a virtualenv.
#
#
#

# utils
setuptools
wheel

# required
isogeo-pysdk>=3.2.5,<3.4
openpyxl==3.0.*

# development
black
flake8
pre-commit
pylint
pytest
pytest-cov
python-dotenv
sphinx
