# Common requirements
# -----------------------
# This file collects all required third-party applications that are needed
# to run this project. Later you can install all these apps in a row
# using pip. Example:
#
#     pip install -r requirements.txt
#
#   It's higly recomended to use it within a virtualenv.
#
#
#

# Common requirements
# -----------------------
setuptools
wheel

# Project requirements
# -----------------------
isogeo-pysdk<=3.4
openpyxl==3.0.*

# Lint and formatting
# -----------------------
black
flake8
pre-commit
pylint

# Tests
# -----------------------
python-dotenv
pytest
pytest-cov

# Documentation
# -----------------------
sphinx
sphinx-autodoc-typehints
sphinx-markdown-tables  # to render markdown tables
sphinx-rtd-theme
recommonmark

# Packaging
# -----------------------
twine
